[user]
	name = Kotaro Sonoda
	email = sonoda-gitlab@cis.nagasaki-u.ac.jp
[core]
	editor = emacs
	excludesfile = /home/kotaro/.gitignore
	quotepath = false
	autocrlf = false
	precomposeunicode = true
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	grep = auto
[difftool.latex]
	cmd = ~/bin/git-latexdiff \"$LOCAL\" \"$REMOTE\" 
[difftool]
	prompt = false
[push]
	default = current
[diff]
	tool = meld
[branch]
	autosetuprebase = always
[merge]
	ff = false
	conflictstyle = diff3
[git-media]
	transport = scp
	autodownload = true
	scpuser = kotaro
	scphost = 
	scppath = 

[alias]
	ci = commit
	l = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	tp = commit -a -m '@@ignore add'
	# tp は temp のつもり. 悩んでいたらとりあえず．
[diff "openxml"]
	textconv = ~/bin/unopenxml
[diff "exif"]                                                                                                                          
 textconv = exiftool
